html[data-theme='light'] {
  --color-primary: #0a685a;
  --color-secondary: #23ab85;
  --color-accent: #d1f4f1;
  --color-background: #e5fff8;
  --color-typography: #091316;
  --color-typography-secondary: #616161;
}
